.card {
  border: none !important;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  border-radius: 4px !important;
}

.badge {
  padding: 7px;
  padding-right: 9px;
  padding-left: 16px;
  box-shadow: 5px 6px 6px 2px #e9ecef;
}

.check-icon {
  font-size: 17px;
  color: #c3bfbf;
  top: 1px;
  position: relative;
  margin-left: 3px;
}

.form-check-input {
  margin-top: 6px;
  margin-left: -24px !important;
  cursor: pointer;
}

.form-check-input:focus {
  box-shadow: none;
}

.icons i {
  margin-left: 8px;
}

.reply small {
  color: #b7b4b4;
}

.reply small:hover {
  color: green;
  cursor: pointer;
}

/* For Bootstrap table  */

.react-bootstrap-table .table thead {
  text-align: center;
}
.react-bootstrap-table .table thead tr th {
  cursor: pointer;
}

.react-bootstrap-table .table tbody {
  display: none;
}

/* For Bootstrap accordion for upload assets  */
.accordion-item .accordion-header button {
  padding: 0 !important;
}

.accordion-item .accordion-header button:focus {
  box-shadow: none;
}

.accordion-item .accordion-header button::after {
  display: none !important;
}

.comments-container.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.preview-card {
  border: 2px solid #ffc107;
  box-shadow: 0px 0px 10px 0px #ffc107;
}
